<h2>Welcome to Kitchen Organizer!</h2>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <p><input type="submit" id="submit" value="Log In"</p>
</form>

<p>or</p>

<a href="/signup"><input type="button" value="Sign Up"></a>
