<h2>Create A New Item:</h2>

<form action="/items" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <label> Cabinet </label>
  <select name="cabinet name">
    <% @user.cabinets.each do |cabinet| %>
      <option><%=cabinet.name%></option>
    <% end %>
  </select>
  <br>
  <br>
  <p><input type="submit" value="Create Item"></p>
</form>
