<h2><%= @item.name %> <a href="/items/<%= @item.id %>/edit"><input type="button" value="Edit"></a>
  <form style="display:inline-block;" action="/items/<%=@item.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
  </form>
</h2>
<p><b>Cabinet:</b>
  <%if @item.cabinet%>
    <%= @item.cabinet.name %>
  <% else %>
    None
  <% end %>
</p>
