<h2>Create A New Cabinet:</h2>

<form action="/cabinets" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Capacity: <input type="text" name="capacity"></p>
  <p><input type="submit" value="Create Cabinet"></p>
</form>
