<h2>Welcome to Kitchen Organizer!</h2>

<p>Let's get your kitchen in shape!</p>
<p>Use this tool to keep your cabinets organized
  <br>by planning out which items go in which cabinet.</p>
<p>By logging your essential items here, you will know
  <br>exactly what to restock and what to skip at the store.</p>
<a href="/cabinets"><input type="button" value="Start Organizing"></a>
